*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #353434;
}
.navbar{
    width: 100vw;
    height: 8vh;
    background-color: #1a1919;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.leftpart{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.mynotes{
    height: 100%;
    font-size: larger;
    color: white;
    background-color:#1a1919 ;
    border-color: #1a191900;
    padding: 8px;
}
.leftpart :hover{
    background-color: #343333;
}
.home{
    height: 100%;
    font-size: larger;
    color: white;
    background-color:#1a1919 ;
    border-color: #1a191900;
    padding: 8px;
}
.about{
    height: 100%;
    font-size: larger;
    color: white;
    background-color:#1a1919 ;
    border-color: #1a191900;
    padding: 8px;
}
.login{
    height: 100%;
    font-size: larger;
    color: white;
    background-color:#1a1919 ;
    border-color: #1a191900;
    padding: 8px;
}
.signup{
    height: 100%;
    font-size: larger;
    color: white;
    background-color:#1a1919 ;
    border-color: #1a191900;
    padding: 8px;
}
.rightpart :hover{
    background-color: #343333;
}
.aboutcard{
    height: 86.7vh;
    width: 99.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutcontcard{
    height: 85%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutcontcard span{
    color: black;
    font-size: 70px;
    font-family: Google Sans, Helvetica Neue, sans-serif;
    font-weight: 100;
}